.tdl__note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 30px;
  float: left;
  font-family: var(--font-family);
}
.tdl__note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.tdl__note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.tdl__note button {
  float: right;
  margin-right: 10px;
  color: grey;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  background: none;
}
